.cardMemo {
  width: 125px;
  height: 125px;
}

.cover {
  width: 125px;
  height: 125px;
  border-radius: 3px;
  background-color: #e00559;
}

.content {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

/* SECCIÓN INICIO O DASH */
.img-custom-dash {
  height: 200px;
  width: 100%;
}

.item {
  padding-left: 5px;
  padding-right: 5px;
}
.item-card {
  transition: 0.3s;
  cursor: pointer;
}
.item-card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.item-card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title-custom i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card-custom:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  font-size: 1.1vw;
}

.card-custom::before,
.card-custom::after
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.2s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card-custom::before {
  transform-origin: left top;
}
.card-custom::after {
  transform-origin: right bottom;
}
.card-custom:hover::before,
.card-custom:hover::after,
.card-custom:focus::before,
.card-custom:focus::after {
  transform: scale3d(1, 1, 1);
  transform: scale(1.10) rotate(150deg);
}
/* END SECCIÓN INICIO */

.ReactFlipCard {
  width: 100%;
  height: 100%;
}