.manual-logo {
  color: #FFFFFF;
  /* background: #912622; */
  text-shadow: 0 0 10px #FFFFFF;
  }

.mainHeader {
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;;
  align-content: center;
}

.title {
  font-size: 2vw;
  padding: 10px;
  color: #fff;
}

.btnReset {
  /* position: absolute;
  left: 12px;
  top: 58px; */
}
