body {

  background-color: #193c6d;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0, #003073),
    color-stop(100%, #F81157)
  );
  background-image: -webkit-linear-gradient(135deg, #003073, #F81157);
  background-image: -moz-linear-gradient(45deg, #003073, #F81157);
  background-image: -ms-linear-gradient(45deg, #003073 0, #F81157 100%);
  background-image: -o-linear-gradient(45deg, #003073, #F81157);
  background-image: linear-gradient(135deg, #003073, #F81157);
  text-align: center;
  margin: 0px;
  overflow-x:hidden;
}

.wrap {
  margin: 20px auto;
  text-align: center;
}

h2 {
color: #585858;
margin-top: 0;
}

small {
display: block;
color: #585858;
font-size: 75%;
margin-top: 25px;
}

small > a {
color: #585858;
}
